<div class="container-fluid">

    <div class="row">

        <div class="col-sm-6 main-type">
            <b>Add Playlist ID below:</b>

            <%= form_tag("/shuffle", method: :post, id: 'any') do %>
                <%= text_field_tag(:list_id, placeholder="PL1npbiMVKM7cp2lHL0ZWvEHiUFu55bIb3") %>
                <%= submit_tag("Shuffle!", class: 'loadTrigger') %>
                <%= render 'checkbox' %>
            <% end %>
        </div>


        <div class="col-sm-6">
            <div class="try">
                Try one of these Popular Channels!
            </div>

            <div><b>Thrilling Music</b></div>
            <%= form_tag("/shuffle", method: :post, id: 'thrilling') do %>
                <%= text_field_tag(:list_id, placeholder="UUh_Ob9q_Tf7-7Opf_6YvaKw") %>
                <%= submit_tag("Shuffle!", class: 'loadTrigger') %>
                <%= render 'checkbox' %>
            <% end %>

            <div><b>Proximity</b></div>
            <%= form_tag("/shuffle", method: :post, id: 'proximity') do %>
                <%= text_field_tag(:list_id, placeholder="UU3ifTl5zKiCAhHIBQYcaTeg") %>
                <%= submit_tag("Shuffle!", class: 'loadTrigger') %>
                <%= render 'checkbox' %>
            <% end %>

            <div><b>Revealed Music</b></div>
            <%= form_tag("/shuffle", method: :post, id: 'ultra') do %>
                <%= text_field_tag(:list_id, placeholder="UUnhHe0_bk_1_0So41vsZvWw") %>
                <%= submit_tag("Shuffle!", class: 'loadTrigger') %>
                <%= render 'checkbox' %>
            <% end %>
        </div>

    </div>
</div>