<header class="home-header">
    <div class="title">
        BITCHIN' YOUTUBE SHUFFLER
    </div>
    <div class="home-link">
        <%= link_to "Home", root_path %>
    </div>
</header>

<div class="container-fluid">

    <div class="row">

        <div class="col-sm-6 main-type">
            <b>Type in Playlist ID below:</b>

            <%= form_tag("/shuffle", method: "get") do %>
                <%= text_field_tag(:list_id, placeholder="PL1npbiMVKM7exuHWdwDBaZ-Hj9k1pPuNM") %>
                <%= submit_tag("Shuffle!") %>
            <% end %>
        </div>


        <div class="col-sm-6">
            <div class="try">
                Try one of these Popular Playlists!
            </div>

            <div><b>Proximity</b></div>
            <%= form_tag("/shuffle", method: "get") do %>
                <%= text_field_tag(:list_id, placeholder="UU3ifTl5zKiCAhHIBQYcaTeg") %>
                <%= submit_tag("Shuffle!") %>
            <% end %>

            <div><b>Ultra Music</b></div>
            <%= form_tag("/shuffle", method: "get") do %>
                <%= text_field_tag(:list_id, placeholder="UU4rasfm9J-X4jNl9SvXp8xA") %>
                <%= submit_tag("Shuffle!") %>
            <% end %>

            <div><b>Spinnin' Records</b></div>
            <%= form_tag("/shuffle", method: "get") do %>
                <%= text_field_tag(:list_id, placeholder="UUpDJl2EmP7Oh90Vylx0dZtA") %>
                <%= submit_tag("Shuffle!") %>
            <% end %>
        </div>

    </div>
</div>