<h1>BITCHIN' YOUTUBE SHUFFLER</h1>
<%= link_to "Home", root_path %>

<br><br>

<div><b>Type in Playlist ID below:</b></div>
<%= form_tag("/shuffle", method: "get") do %>
    <%= text_field_tag(:list_id, placeholder="PL1npbiMVKM7exuHWdwDBaZ-Hj9k1pPuNM") %>
    <%= submit_tag("Shuffle!") %>
<% end %>

<br>

<h2>Popular Playlists</h2>

<div><b>Proximity</b></div>
<%= form_tag("/shuffle", method: "get") do %>
    <%= text_field_tag(:list_id, placeholder="UU3ifTl5zKiCAhHIBQYcaTeg") %>
    <%= submit_tag("Shuffle!") %>
<% end %>

<div><b>Ultra Music</b></div>
<%= form_tag("/shuffle", method: "get") do %>
    <%= text_field_tag(:list_id, placeholder="UU4rasfm9J-X4jNl9SvXp8xA") %>
    <%= submit_tag("Shuffle!") %>
<% end %>

<div><b>Spinnin' Records</b></div>
<%= form_tag("/shuffle", method: "get") do %>
    <%= text_field_tag(:list_id, placeholder="UUpDJl2EmP7Oh90Vylx0dZtA") %>
    <%= submit_tag("Shuffle!") %>
<% end %>