<div class="container-fluid">

    <div class="row">

        <div class="col-sm-6 col-shuffle">
            <p>
                <b>Playlist Title:</b>
                <br>
                <%= @title %>
            </p>

            <p>
                <b>Total # of Videos:</b>
                <br>
                <%= @count %>
            </p>
        </div>

        <div class="col-sm-6 col-shuffle previous">
                <b>Previous Videos Played (Most Recent at Top):</b>
                <% unless @first %>
                    <% @last = @recent.count - 1 %>  
                    <% @rec = @recent[0,@last] %>
                    <% @rec.reverse.each do |r| %>
                        <div><%= r %></div>
                    <% end %>
                <% end %>
        </div>
    
    </div>

    <div class="row">

        <div class="col-sm-6 col-shuffle">
            <p class="current-vid">
                <b>Current Video:</b>
                <br>
                <%= @video.title %>
            </p>
            <p>
                <b>Length of Video:</b>
                <br>
                <%= Time.at(@video.duration).utc.strftime("%M:%S") %>
            </p>
            <p>
                <b>Position in Queue (1 being most recent):</b>
                <br>
                <%= @rand_vid[1] %>
            </p>
            <p>            
                <b>Date Uploaded:</b>
                <br>
                <%= @video.published_at %>
            </p>
        </div>

        <div class="col-sm-6 col-shuffle">
            <iframe width="350" height="250" id="existing-iframe-example" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen src="https://www.youtube.com/embed/<%= @video.id %>?autoplay=1&enablejsapi=1"></iframe>
        

            <%= form_tag("/shuffle", method: :post, id: "next") do %>
                <%= hidden_field_tag("first", @first) %>
                <%= hidden_field_tag("title", @title) %>
                <%= hidden_field_tag("count", @count) %>
                <%= hidden_field_tag("list", JSON.dump(@list)) %>
                <%= hidden_field_tag("goodlist", JSON.dump(@goodlist)) %>
                <%= hidden_field_tag("recent", JSON.dump(@recent)) %>
                <%= submit_tag("Skip") %>
            <% end %>
        </div>

    </div>
</div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <script type ="text/javascript">
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            var player;
            function onYouTubeIframeAPIReady() {
                player = new YT.Player('existing-iframe-example', {
                    events: {
                        'onStateChange': onPlayerStateChange,
                        'onError': onPlayerError
                    }
                });
            }

            function onPlayerStateChange(event) {
                if(event.data === 0) {
                    $('#next').submit();
                }
            }

            function onPlayerError() {
                $('#next').submit();
            }

        </script>